{% extends "base.html" %}
{% block navBio %}class="active"{% endblock %}
{% block content %}
<div class="notHome">
    <div class="row">
    	<div class="col-md-6">
        	<img class="img-circle" data-src="holder.js/140x140">
        	<p>
        		First prize winner in the 2012 Musica Antiqua Bruges International Harpsichord Competition, Canadian harpsichordist and organist Mark Edwards (b. 1986) is recognized for his captivating performances, bringing the listener “to new and unpredictable regions, using all of the resources of his instrument, [...] of his virtuosity, and of his imagination” (<em>La Libre Belgique</em>). True to the spirit of historically informed performance, yet influenced by his research on deconstructive practices in music, Mark’s interpretations challenge the usual boundaries between musical text and act. 
            </p>
            <p>
                He has given solo recitals at a number of prominent festival and concert series, including the Utrecht Early Music Festival, Bozar (Brussels), the Montreal Baroque Festival, and Clavecin en concert (Montreal). He has had concerto performances with a number of award-winning ensembles, including Il Gardellino (Belgium), Neobarock (Germany), and Ensemble Caprice (Canada). He is also an active chamber musician, having performed with Il Pomo d’Oro, Les Boréades de Montréal, and Flûtes Alors!
            </p>
            <p>
                <em>Passaggi</em> (ATMA 2013), his first CD with the Canadian recorder player Vincent Lauzer, was reviewed warmly and has been nominated for an ADISQ award. A second CD of Handel’s recorder sonatas is currently in post-production. Mark has also recently finished recording his debut solo CD, <em>Orpheus Descending</em>, which was successfully crowd-funded via Kickstarter. His performances have also been broadcast by American Public Media, the Canadian Broadcasting Corporation, Klara (Belgium), and Radio 4 (Netherlands). 
            </p>
            <p>
                In addition to his success in Bruges, Mark has distinguished himself as a prizewinner in a number of important competitions, including the 2012 Jurow International Harpsichord Competition, the 2011 Concours d’orgue de Québec, and the 2008 Rodland Organ Competition. He is also a recipient of academic grants from the Social Sciences and Humanities Research Council of Canada (SSHRC) and the German Academic Exchange Service (DAAD). He studied at the Eastman School of Music in Rochester, NY, where he earned his Bachelor of Music with highest distinction, and completed graduate degrees at McGill University and the Hochschule für Musik Freiburg. His former teachers include Robert Hill, William Porter, Hank Knox, and David Higgs. He is currently a PhD student at Leiden University and the Orpheus Instituut, Ghent, where his research examines the intersection of memory, improvisation, and the concept of the musical work. He lives in Utrecht.
            </p>
       </div>
       <div class="col-md-6">
        	<img class="img-circle" data-src="holder.js/140x140">
            <p>
                Lauréat d’un premier prix au concours international de clavecin Musica Antiqua Bruges 2012, le claveciniste et organiste canadien Mark Edwards est reconnu pour ses réalisations captivantes, entrainant « l’écoute dans des régions inédites et fantasques, utilisant toutes les ressources de son instrument, de sa virtuosité et de son imagination. » (<em>La Libre Belgique</em>) Fidèle à l’esprit de l’interprétation historique, quoiqu’influencé par ses recherches sur les pratiques déconstructives en musique, les interprétations de Mark remettent en cause les liens habituels entre le texte et l’acte musical. 
            </p>
            <p>
                Il a présenté des récitals dans de nombreux festivals et séries de concerts estimés, tels que le Festival de musique ancienne d’Utrecht, Bozar (Bruxelles), le Festival Montréal Baroque et Clavecin en concert (Montréal). Il a donné des concertos avec des ensembles primés, tels qu'Il Gardellino (Belgique), Neobarock (Allemagne) et l’Ensemble Caprice (Canada). Également actif en musique de chambre, il a performé avec Il Pomo d’Oro, Les Boréades de Montréal et Flûtes Alors!
            </p>
            <p>
                <em>Passaggi</em> (ATMA 2013), son premier disque avec le flûtiste canadien Vincent Lauzer, a été bien reçu par la critique et a été nominé pour un prix de l’ADISQ. Un second disque des sonates pour flûte à bec de Handel est présentement en post-production. Dernièrement, Mark a également terminé l’enregistrement de son premier disque solo, <em>Orpheus Descending</em>, grâce à un financement participatif sur la plateforme Kickstarter. Ses prestations ont aussi été radiodiffusées par American Public Media, Radio-Canada, Klara (Belgique) et Radio 4 (Pays-Bas). 
            </p>
            <p>
                En plus de son succès à Bruges, il est lauréat d’autres compétitions importantes: The Jurow International Harpsichord Competition (2012), le Concours d’orgue de Québec (2011) et The Rodland Organ Competition (2008). Il est récipiendaire d’une bourse de recherche de l’Office allemand d’échanges universitaires (DAAD) et de deux bourses du Conseil de recherches en sciences humaines du Canada (CRSH). Il a étudié à la Eastman School of Music (BA avec la plus haute distinction), l’Université McGill et la Hochschule für Musik Freiburg (MA), auprès de Robert Hill, William Porter, Hank Knox et David Higgs. Il poursuit présentement ses études doctorales à l’Université de Leiden et l’Orpheus Instituut, à Gand. Son projet de recherche examine les croisements de la mémoire, de l’improvisation et du concept de l’œuvre musicale. Il vit à Utrecht.
            </p>
        </div>
    </div>
</div>
<br>
{% endblock %}